@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .moving-text {
    display: inline-block; /* Ensures the text behaves like a block for animations */
    white-space: nowrap; /* Prevents the text from wrapping */
    animation: move-text 15s linear infinite; /* Animation lasts 5 seconds and loops infinitely */
    font-size: 1.5rem; /* Adjust font size */
  }
  
  /* Background (optional, for better visibility) */
  body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /* Keyframes for animation */
  @keyframes move-text {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  